@import "tailwindcss";

  /*
  Kasa ekranı özel ayarları 
  bu ayarlar Tailwind derlendiktten sonra geçerli olur.
  */

  @layer base{
    html, body{
      touch-action: manipulation;

      user-select: none;
      -webkit-user-select: none;

      background-color: #f8fafc;/* Tailwind'de bg-slate-50 */
      color: #1e293b;/* Tailwind'de text-slate-800 */
    }
  }